<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo3_asm">
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản lý Sinh Viên"
        android:roundIcon="@drawable/logoong"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivytiDsTaiKhoan"></activity>
        <activity android:name=".ActivityTranhChu"></activity>
        <activity android:name=".ActivityDangKi" />
        <activity android:name=".DemoSpriner" />
        <activity android:name=".ActivityLopHoc" />
        <activity android:name=".ActivityUpdateSinhVien" />
        <activity android:name=".ActivityQuanLySinhVien" />
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>